
html {
    font-family: sans-serif;
}
header {
    background-color: #FFDBAA;
    color: #553100;
    height: 150px;
    display: flex;
}
body {
    background-color: #D4A76A;
}
button {
  background-color:#805215;
  color: white
}
main {
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap | nowrap | nowrap| wrap;
    justify-content: center;
    
}
#middle {
    flex: 250px;
    justify-content: space-around;
    align-items: stretch;
}
nav {
    justify-content: right;
    align-items: center;
}
section:nth-of-type(4) {
    justify-content: center;
    align-self: end;
}
.mainButton {
    justify-content: center;
}